@charset "UTF-8";
.boton {
  padding: 6px 8px;
  background-color: black;
  border-radius: 25px;
  text-decoration: none;
  color: white;
  margin-top: 5px;
  transition: 2s;
}

.bigicon {
  color: #36A0FF;
}

.fotocapitanamerica {
  width: 200px;
  height: 200px;
}

* {
  margin: 0%;
  padding: 0%;
}

.navbar {
  background-color: #1B35DA;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header {
  color: #36A0FF;
}

* {
  margin: 0%;
  padding: 0%;
}

/*header*/
header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.collapse {
  flex-grow: 0.6;
}

.navbar {
  background: #1B35DA;
}

i {
  font-size: 1.2rem;
}

body {
  background-image: url("../background/669.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  height: auto;
}

h1 {
  font-size: 30px;
}

.imagen {
  width: 680px;
  height: 400px;
}

/*List Style*/
ul {
  list-style-type: none;
}

.sp-image {
  opacity: 0.5;
}

.piedepagina {
  transition: 1s;
}

/*contacto*/
.header {
  color: #36A0FF;
  font-size: 27px;
  padding: 10px;
}

.bigicon {
  font-size: 35px;
  color: #36A0FF;
}

@font-face {
  font-family: ¨Domine¨;
  src: url("../fonts/Domine-Regular.ttf");
}
/*font descargada*/
p {
  font-family: ¨Domine¨, sans-serif;
}

/*pie de pagina*/
#piedepagina {
  width: 100%;
  background-color: black;
  color: white;
  padding: 20px 20px;
  background-image: url("../background/669.jpg");
  font-family: "Abril Fatface", cursive;
}

.piedepagina {
  background-color: #36A0FF;
}

/*fin*/
ul {
  list-style-type: none;
}

/*bem*/
/*GRID Promociones*/
.grid-layout {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  width: 80%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  justify-self: space-around;
  align-items: center;
}

.caja1 {
  grid-column: 1/4;
  height: 100px;
}

.caja2 {
  width: auto;
  height: 250px;
  border: 1px solid black;
  margin: 15px;
  text-align: center;
  line-height: 10px;
  float: left;
}

.batman {
  letter-spacing: 1px;
  border-radius: 25px;
  margin-top: 10px;
  font-family: ¨Domine¨, sans-serif;
  height: 20px;
}

.fotobatman {
  width: 120px;
  height: 200px;
}

.caja3 {
  width: auto;
  height: 250px;
  border: 1px solid black;
  margin: 15px;
  text-align: center;
  line-height: 10px;
  float: left;
}

.capitan {
  letter-spacing: 1px;
  border-radius: 25px;
  margin-top: 10px;
  font-family: ¨Domine¨, sans-serif;
  height: 20px;
}

.fotocapitanamerica {
  width: 200px;
  height: 200px;
}

.caja4 {
  width: auto;
  height: 250px;
  border: 1px solid black;
  margin: 15px;
  text-align: center;
  line-height: 10px;
  float: left;
}

.escuadron {
  letter-spacing: 1px;
  border-radius: 25px;
  margin-top: 10px;
  font-family: ¨Domine¨, sans-serif;
  height: 20px;
}

.fotoescuadronsuicida {
  width: 200px;
  height: 200px;
}

.caja5 {
  width: auto;
  height: 250px;
  border: 1px solid black;
  margin: 15px;
  text-align: center;
  line-height: 10px;
  float: left;
}

.ironman {
  letter-spacing: 1px;
  border-radius: 25px;
  margin-top: 10px;
  font-family: ¨Domine¨, sans-serif;
  height: 20px;
}

.fotoironman, .fotoescuadronsuicida {
  width: 200px;
  height: 200px;
}

.caja6 {
  width: auto;
  height: 250px;
  border: 1px solid black;
  margin: 15px;
  text-align: center;
  line-height: 10px;
  float: left;
}

.spider {
  letter-spacing: 1px;
  border-radius: 25px;
  margin-top: 10px;
  font-family: ¨Domine¨, sans-serif;
  height: 20px;
}

.fotospiderman {
  width: 200px;
  height: 200px;
}

.caja7 {
  width: auto;
  height: 250px;
  border: 1px solid black;
  margin: 15px;
  text-align: center;
  line-height: 10px;
  float: left;
}

.xmen {
  letter-spacing: 1px;
  border-radius: 25px;
  margin-top: 10px;
  font-family: ¨Domine¨, sans-serif;
  height: 20px;
}

.fotoxman {
  width: 200px;
  height: 200px;
}

/*GRID index*/
.inicio {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  width: 80%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  justify-self: space-around;
  align-items: center;
}

.caja {
  width: auto;
  height: auto;
  border: 4px solid rgb(255, 255, 255);
  margin: 15px;
  text-align: center;
  line-height: 50px;
}

.caja {
  font-family: ¨Domine¨, sans-serif;
  font-size: 18px;
  margin-bottom: 1px;
  color: black;
}

.enlace {
  padding: 10px auto;
  max-width: 90%;
  line-height: 20px;
  margin-top: 10px;
}

.boton {
  padding: 6px 8px;
  background-color: black;
  border-radius: 25px;
  text-decoration: none;
  color: white;
  margin-top: 5px;
  transition: 2s;
}

main section article nav ol li {
  font-size: 20px;
  padding: 10px auto;
  max-width: 90%;
  line-height: 30px;
  margin-top: 20px;
}

/*GRID marvel*/
.caja2 {
  width: auto;
  height: 250px;
  border: 1px solid black;
  margin: 15px;
  text-align: center;
  line-height: 10px;
  float: left;
}

.capitana {
  letter-spacing: 1px;
  border-radius: 25px;
  margin-top: 10px;
  font-family: ¨Domine¨, sans-serif;
  height: 20px;
}

.fotocapitana {
  width: 200px;
  height: 200px;
}

.caja4 {
  width: auto;
  height: 250px;
  border: 1px solid black;
  margin: 15px;
  text-align: center;
  line-height: 10px;
  float: left;
}

.fortnite {
  letter-spacing: 1px;
  border-radius: 25px;
  margin-top: 10px;
  font-family: ¨Domine¨, sans-serif;
  height: 20px;
}

.fotofortnite {
  width: 200px;
  height: 200px;
}

.caja6 {
  width: auto;
  height: 250px;
  border: 1px solid black;
  margin: 15px;
  text-align: center;
  line-height: 10px;
  float: left;
}

.guardianes {
  letter-spacing: 1px;
  border-radius: 25px;
  margin-top: 10px;
  font-family: ¨Domine¨, sans-serif;
  height: 20px;
}

.fotoguardianes {
  width: 200px;
  height: 200px;
}

.caja7 {
  width: auto;
  height: 250px;
  border: 1px solid black;
  margin: 15px;
  text-align: center;
  line-height: 10px;
  float: left;
}

.electra {
  letter-spacing: 1px;
  border-radius: 25px;
  margin-top: 10px;
  font-family: ¨Domine¨, sans-serif;
  height: 20px;
}

.fotoelectra {
  width: 200px;
  height: 200px;
}

/*GRID dc*/
.caja3 {
  width: auto;
  height: 250px;
  border: 1px solid black;
  margin: 15px;
  text-align: center;
  line-height: 10px;
  float: left;
}

.superman {
  letter-spacing: 1px;
  border-radius: 25px;
  margin-top: 10px;
  font-family: ¨Domine¨, sans-serif;
  height: 20px;
}

.fotosuperman {
  width: 200px;
  height: 200px;
}

.caja5 {
  width: auto;
  height: 250px;
  border: 1px solid black;
  margin: 15px;
  text-align: center;
  line-height: 10px;
  float: left;
}

.batman2 {
  letter-spacing: 1px;
  border-radius: 25px;
  margin-top: 10px;
  font-family: ¨Domine¨, sans-serif;
  height: 20px;
}

.fotobatman2 {
  width: 200px;
  height: 200px;
}

/*Animaciones, transformaciones y transiciones*/
.caja1 {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(37, 145, 251, 0.98) 0.1%, rgb(0, 7, 128) 99.8%);
}

.video {
  animation-name: animo;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 3s;
  animation-iteration-count: 1s;
}

@keyframes animo {
  0% {
    transform: scale(0.5);
    border-radius: 100%;
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}
/*mobile*/
@media (max-width: 768px) {
  .inicio {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    width: 80%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    justify-self: space-around;
    align-items: center;
  }
  .caja {
    width: 100px;
    height: auto;
    border: 1px solid rgb(255, 255, 255);
    margin: 5px;
    text-align: center;
    line-height: 25px;
  }
  .imagen {
    width: 300px;
    height: 200px;
  }
  .frase {
    display: none;
  }
  .final {
    display: none;
  }
  .caja {
    font-family: ¨Domine¨, sans-serif;
    font-size: 15px;
    margin-bottom: 1px;
    color: black;
  }
  .enlace {
    padding: 10px auto;
    max-width: 90%;
    line-height: 20px;
    margin-top: 10px;
  }
  .boton {
    padding: 6px 12px;
    background-color: black;
    border-radius: 12px;
    text-decoration: none;
    color: white;
    margin-top: px;
    background-position: center;
  }
  .letrasvideo {
    display: none;
  }
  .video {
    display: none;
  }
  .top {
    display: none;
  }
  /*Menu*/
  .ancho {
    width: 70%;
    height: 50px;
    background: red;
    margin: auto;
  }
  .ancho {
    width: 100%;
    height: 60px;
    background: #1B35DA;
  }
  .logo {
    width: 40%;
    height: 50px;
    background: #1B35DA;
    float: left;
    box-sizing: border-box;
  }
  .menu {
    width: 60%;
    height: 50px;
    background: #1B35DA;
    float: left;
    text-align: center;
    padding-top: 12px;
    box-sizing: border-box;
    font-family: ¨Domine¨;
  }
  nav ul li {
    display: inline;
  }
  nav ul li a {
    color: white;
    font-size: 6px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 7px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  nav ul li a:hover {
    color: #444;
  }
  /*footer*/
  #piedepagina {
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px 10px;
    background-image: url("../background/669.jpg");
    font-family: "Abril Fatface", cursive;
  }
  /*promociones*/
  .grid-layout {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    width: 80%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    justify-self: space-around;
    align-items: center;
  }
  .caja1 {
    grid-column: 1/4;
    height: 50px;
  }
  .caja2 {
    grid-column: 1/4;
    width: auto;
    height: 150px;
    border: 1px solid black;
    margin: 7px;
    text-align: center;
    line-height: 5px;
    float: left;
  }
  .batman {
    letter-spacing: 1px;
    border-radius: 6px;
    margin-top: 10px;
    font-family: ¨Domine¨, sans-serif;
    height: 15px;
  }
  .fotobatman {
    width: 70px;
    height: 100px;
  }
  .caja3 {
    grid-column: 1/4;
    width: auto;
    height: 150px;
    border: 1px solid black;
    margin: 7px;
    text-align: center;
    line-height: 10px;
    float: left;
  }
  .capitan {
    letter-spacing: 1px;
    border-radius: 25px;
    margin-top: 10px;
    font-family: ¨Domine¨, sans-serif;
    height: 20px;
  }
  .fotocapitanamerica {
    width: 100px;
    height: 100px;
  }
  .caja4 {
    grid-column: 1/4;
    width: auto;
    height: 150px;
    border: 1px solid black;
    margin: 7px;
    text-align: center;
    line-height: 10px;
    float: left;
  }
  .escuadron {
    letter-spacing: 1px;
    border-radius: 25px;
    margin-top: 10px;
    font-family: ¨Domine¨, sans-serif;
    height: 20px;
  }
  .fotoescuadronsuicida {
    width: 100px;
    height: 100px;
  }
  .caja5 {
    grid-column: 1/4;
    width: auto;
    height: 150px;
    border: 1px solid black;
    margin: 7px;
    text-align: center;
    line-height: 10px;
    float: left;
  }
  .ironman {
    letter-spacing: 1px;
    border-radius: 25px;
    margin-top: 10px;
    font-family: ¨Domine¨, sans-serif;
    height: 20px;
  }
  .fotoironman, .fotoescuadronsuicida {
    width: 100px;
    height: 100px;
  }
  .caja6 {
    grid-column: 1/4;
    width: auto;
    height: 150px;
    border: 1px solid black;
    margin: 7px;
    text-align: center;
    line-height: 10px;
    float: left;
  }
  .spider {
    letter-spacing: 1px;
    border-radius: 25px;
    margin-top: 10px;
    font-family: ¨Domine¨, sans-serif;
    height: 20px;
  }
  .fotospiderman {
    width: 100px;
    height: 100px;
  }
  .caja7 {
    grid-column: 1/4;
    width: auto;
    height: 150px;
    border: 1px solid black;
    margin: 7px;
    text-align: center;
    line-height: 10px;
    float: left;
  }
  .xmen {
    letter-spacing: 1px;
    border-radius: 25px;
    margin-top: 10px;
    font-family: ¨Domine¨, sans-serif;
    height: 20px;
  }
  .fotoxman {
    width: 100px;
    height: 100px;
  }
  /*GRID marvel*/
  .caja2 {
    grid-column: 1/4;
    width: auto;
    height: 150px;
    border: 1px solid black;
    margin: 7px;
    text-align: center;
    line-height: 10px;
    float: left;
  }
  .capitana {
    letter-spacing: 1px;
    border-radius: 25px;
    margin-top: 10px;
    font-family: ¨Domine¨, sans-serif;
    height: 20px;
  }
  .fotocapitana {
    width: 100px;
    height: 100px;
  }
  .caja4 {
    grid-column: 1/4;
    width: auto;
    height: 150px;
    border: 1px solid black;
    margin: 7px;
    text-align: center;
    line-height: 10px;
    float: left;
  }
  .fortnite {
    letter-spacing: 1px;
    border-radius: 25px;
    margin-top: 10px;
    font-family: ¨Domine¨, sans-serif;
    height: 20px;
  }
  .fotofortnite {
    width: 100px;
    height: 100px;
  }
  .caja6 {
    grid-column: 1/4;
    width: auto;
    height: 150px;
    border: 1px solid black;
    margin: 7px;
    text-align: center;
    line-height: 10px;
    float: left;
  }
  .guardianes {
    letter-spacing: 1px;
    border-radius: 25px;
    margin-top: 10px;
    font-family: ¨Domine¨, sans-serif;
    height: 20px;
  }
  .fotoguardianes {
    width: 100px;
    height: 100px;
  }
  .caja7 {
    grid-column: 1/4;
    width: auto;
    height: 150px;
    border: 1px solid black;
    margin: 7px;
    text-align: center;
    line-height: 10px;
    float: left;
  }
  .electra {
    letter-spacing: 1px;
    border-radius: 25px;
    margin-top: 10px;
    font-family: ¨Domine¨, sans-serif;
    height: 20px;
  }
  .fotoelectra {
    width: 100px;
    height: 100px;
  }
  /*GRID dc*/
  .caja3 {
    grid-column: 1/4;
    width: auto;
    height: 150px;
    border: 1px solid black;
    margin: 7px;
    text-align: center;
    line-height: 10px;
    float: left;
  }
  .superman {
    letter-spacing: 1px;
    border-radius: 25px;
    margin-top: 10px;
    font-family: ¨Domine¨, sans-serif;
    height: 20px;
  }
  .fotosuperman {
    width: 100px;
    height: 100px;
  }
  .caja5 {
    grid-column: 1/4;
    width: auto;
    height: 150px;
    border: 1px solid black;
    margin: 7px;
    text-align: center;
    line-height: 10px;
    float: left;
  }
  .batman2 {
    letter-spacing: 1px;
    border-radius: 25px;
    margin-top: 10px;
    font-family: ¨Domine¨, sans-serif;
    height: 20px;
  }
  .fotobatman2 {
    width: 100px;
    height: 100px;
  }
  /*Menu*/
  .ancho {
    width: 70%;
    height: 50px;
    background: red;
    margin: auto;
  }
  .ancho {
    width: 100%;
    height: 60px;
    background: #1B35DA;
  }
  .logo {
    width: 40%;
    height: 50px;
    background: #1B35DA;
    float: left;
    box-sizing: border-box;
  }
  .menu {
    width: 60%;
    height: 50px;
    background: #1B35DA;
    float: left;
    text-align: center;
    padding-top: 12px;
    box-sizing: border-box;
    font-family: ¨Domine¨;
  }
  nav ul li {
    display: inline;
  }
  nav ul li a {
    color: white;
    font-size: 6px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 7px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  nav ul li a:hover {
    color: #444;
  }
  /*footer*/
  #piedepagina {
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px 10px;
    background-image: url("../background/669.jpg");
    font-family: "Abril Fatface", cursive;
  }
  .logo {
    display: none;
  }
}

/*# sourceMappingURL=estilos.css.map */
